{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>

    <link rel="stylesheet" href="{% static 'UserLogApp/css/registration_form.css' %}" type="text/css">
    <script src="{% static 'UserLogApp/js/no_submit.js' %}"></script>
</head>

<body>

    <form action="{% url 'UserLogApp:change_password_post' %}" method="post">

        {% csrf_token %}

        <div></div>
        
        <div class="form-content">
            
            <div class="left-field"></div>
            
            <div class="form-content-inner">

                <p class="name-form">Смена пароля пользователя</p>
            
                <p class="field">Логин <input readonly value="{{user.django_auth_user.username}}" type="text" id="login" name="login" onkeypress="NoSubmit(event)"></p>
                <p class="field">Старый пароль <input required type="password" id="old_password" name="old_password" onkeypress="NoSubmit(event)"></p>
                <p class="field">Новый пароль <input required type="password" id="new_password" name="new_password" onkeypress="NoSubmit(event)"></p>
                
                <p class="margin-top"><button type="submit">Сменить пароль</button></p>

                <p class="error">{{error}}</p>
            
            </div>
            
            <div class="right-field"></div>
        
        </div>

        <div></div>

    </form>

</body>

</html>